<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mypromotion.mypromotion" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:configChanges="orientation|keyboardHidden|screenSize">
        <activity
            android:name="com.mypromotion.mypromotion.view.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mypromotion.mypromotion.view.activity.SettingAccount"
            android:label="@string/title_activity_setting_account" >
        </activity>
        <activity
            android:name="com.mypromotion.mypromotion.view.activity.Login"
            android:label="@string/title_activity_login" >
        </activity> <activity
        android:name="com.mypromotion.mypromotion.view.fragment.FraAdvertRelateActivity"
        android:label="@string/title_activity_login" >
    </activity>
        <activity
            android:name="com.mypromotion.mypromotion.view.activity.AdvertSave"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
        android:name="com.mypromotion.mypromotion.view.activity.DetailAdvert"
        android:label="@string/title_activity_login" >
    </activity>
        <activity
            android:name="com.mypromotion.mypromotion.view.activity.Register"
            android:label="@string/title_activity_register"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider"
            android:exported="true" />
    </application>

</manifest>
